#invalid {
    color: red;
}
#valid {
    color: green;
}
body {
    background-color: #eee;
    color: #333;
    font: 13px Verdana;
}
a:visited {
    color:blue;
}
#indexwrap {
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    border:2px solid;
    border-radius:25px;
    background-color: lightblue;
}